.contact-section {
  margin: 15vh 15vw;
  display: flex;
  justify-content: center;

  img {
    width: 500px;
    flex-grow: 2;
  }

  .contact-us {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    input {
      width: 100%;
      border: 1px grey solid;
      font-size: 100%;
      padding: 0.5rem 0rem;
      margin-bottom: 1rem;
    }

    textarea {
      width: 50%;
    }
  }
}

.details {
  margin: 1rem 0rem;
}
