footer {
  background: #e7e7e7e7;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;

  img {
    margin-left: 90px;
    width: 150px;
  }

  div {
    display: flex;

    p {
      padding: 1rem;
    }
  }
}
