@import url("https://use.typekit.net/erb6ayl.css");
@import "Breakpoints.module.scss";

.container {
  padding: 0 15px;
// 576px window width and more
  @include sm {
      padding: 0 20px;
  }
// 992px window width and more
  @include lg {
      margin-left: auto;
      margin-right: auto;
      max-width: 1100px;
  }
// 1400px window width and more
  @include rwd(1400) {
      margin-bottom: 20px;
      margin-top: 20px;
  }
}
.nav-center {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: center;

  .nav-header {
    flex-grow: 2;
  }
  .nav-links {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: liberation-serif, sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    list-style-type: none;

    a {
      text-decoration: none;
      color: black;
      transition: color 0.5s;
    }

    a:hover {
      color: red;
    }
  }
}

