.hero-container {
  height: 175vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
      to bottom,
      rgba(158, 0, 0, 0.67) 0%,
      rgba(27, 13, 13, 0.67) 25%,
      rgba(193, 0, 0, 1) 60%,
      rgba(201, 0, 0, 1) 100%
    ),
    url(../images/factory-bg.jpeg);
  background-position: center;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 75px;

  @media (max-width: 750px) {
    column-gap: 0px;
  }
}

.grid-item {
  color: white;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h2 {
    font-weight: 100;
    text-align: center;
  }
  img {
    margin-top: -50px;
    width: 64px;
    height: 64px;
  }

  @media (max-width: 880px) {
    width: 175px;
    h2 {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 490px) {
    width: 120px;
    h2 {
      font-size: 0.8rem;
    }
  }
}

// What we do
.what-we-do-section {
  height: 650px;
  position: relative;
}

.what-we-do {
  position: absolute;
  left: 15%;
  top: 150px;
  width: 350px;
  height: 250px;

  p {
    line-height: 35px;
  }
  @media (max-width: 400px) {
    left: 15px;
  }
}

.factory {
  position: absolute;
  right: 0;
  top: 150px;
  z-index: -50;

  @media (max-width: 750px) {
    top: 300px;
    width: 500px;
  }
}

// Sponsors

.sponsors {
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

  @media (max-width: 400px) {
    margin: 0.5rem;
  }

  .sponsor {
    display: flex;
    align-items: center;
    padding: 1rem;

    @media (max-width: 400px) {
      width: 125px;
      padding: 0.5rem;
    }
  }
}

// Contact/Call-To-Action(CTA)
.contact-section {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  .bgBox {
    background: #c4c4c4;
    width: 200px;
    height: 200px;
  }

  .contact-box {
    width: 800px;
    height: 450px;
    background: #3a484e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      margin-top: 25px;
    }
  }
}
